@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#010440;
    color: aliceblue;
    height: 100px;
    
}

.link{
    text-decoration: none;
    color: var(--cor-secundary);
    position: relative;
    
}
.logo{
    width: 100px;
}
.item-hover:hover{
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    border-radius: 10px;
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }